.text {
    text-align: center;
    margin-top: 0px;
}

.countdown {
    text-align: center;
    color: blue;
}

span {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}

h1 {
    display: none;
    text-align: center;
}